@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

body {
  @apply bg-snow dark:bg-[#141625];
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply w-2 rounded-full bg-selago dark:bg-navy;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-light_blue/60 dark:bg-navy/70;
}

@layer components {
  .heading-l {
    @apply text-[2.25rem] font-bold leading-[33px] tracking-[-1px];
  }

  .heading-m {
    @apply text-[1.5rem] font-bold leading-[22px] tracking-[-0.75px];
  }

  .heading-s {
    @apply text-[.938rem] font-bold leading-[24px] tracking-[-0.25px];
  }
  .body {
    @apply text-[.813rem] font-medium leading-[18px] tracking-[-0.1px];
  }

  .checkbox:checked::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 4px;
    width: 4.3px;
    height: 8px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
